# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build directories
dist/
build/

# Ignore temporary files
*.tmp
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.iml

# Ignore coverage reports
coverage/
.nyc_output/

# Ignore dependency directories
jspm_packages/
bower_components/

# Ignore compiled files
*.out
*.class
*.o
*.pyc
*.pyo
*.pyd

# Ignore lock files
package-lock.json
yarn.lock